{% load CustomFilter %}

{% if services %}
  {% for service in services %}
     <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="{{ forloop.counter0 | multiply:200 }}">
        <div class="icon mr-4 align-self-start">
            {% autoescape off %}
                  {{service.icon}}
            {% endautoescape %}
        </div>
        <div class="text">
          <h2 class="text-uppercase">{{service.name|title}}</h2>
          <p>{{service.description}}</p>
        </div>
     </div>
   {% endfor %}
{% endif %}