  
  {% extends 'layout/base.html' %}
  {% load static %}
  
  {% block content %}
  
  
  <div class="site-wrap">

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'index' %}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        {% if carts %}

        <div class="row mb-5">
            <div class="site-blocks-table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Image</th>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-total">Total</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>
                <tbody>

                {% for cart in carts %}

                  <tr>
                    <td class="product-thumbnail">
                      <img src="{{ cart.product.image.url }}" alt="{{ cart.product.name }}" class="img-fluid">
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">{{cart.product.name}}</h2>
                    </td>
                    <td>{{cart.product.price }} $</td>
                    <td>
                      <div>
                        <p class=" text-center">{{ cart.quantity }}</p>
                      </div>
                    </td>
                    <td>{{ cart.get_total_item_price }} $</td>
                    <td><a href="{% url 'deleteFromCart' slug=cart.product.id  %}" title="delete item from cart" class="btn btn-primary btn-sm">X</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
                <a class="btn btn-outline-primary btn-sm btn-block" title="Continue Shopping" href="{% url 'shop' %}">Continue Shopping</a>
            </div>
          </div>

          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">

                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                  </div>
                </div>

                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Total</span>
                  </div>

                  <div class="col-md-6 text-right">
                    <strong class="text-black">{{total}} $</strong>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <a class="btn btn-primary btn-lg py-3 btn-block" href="{% url 'checkout' %}" >Proceed To Checkout</a>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
        {% else %}

        <div class="row">
              <div class="col-md-12">
                <p class="cartEmpty">Cart is empty</p>
                <a href="{% url 'shop' %}" class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</a>
              </div>
        </div>
        {% endif %}
      </div>
    </div>

  </div>

  {% endblock %}