{% extends 'layout/base.html' %}

{% block content %}
  
  <div class="site-wrap">

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'index' %}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 order-2">
            <div class="row mb-5">
              {% if products %}
                {% for product in products %}
                  <div class="col-sm-4 col-lg-3 mb-4" data-aos="fade-up">
                    <div class="block-4 text-center border">
                      <figure class="block-4-image">
                        <a href="{% url 'singleProduct' slug=product.id %}"><img src="{{ product.image.url }}" alt="{{product.name}}" class="img-fluid"></a>
                      </figure>
                      <div class="block-4-text p-4">
                        <h3><a href="{% url 'singleProduct' slug=product.id %}">{{product.name}}</a></h3>
                        <p class="mb-0">{{product.description|truncatechars:20 }}</p>
                        <p class="text-primary font-weight-bold">{{product.price}} $</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
              <div class="block-4-text p-4">
                      <h3>Result 0 Please try with other search</h3>
                    </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% include "commun/categorys.html" %}

      </div>
    </div>
  </div>

{% endblock %}